@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Patua+One&family=Rubik&family=Sniglet&display=swap');

* {
    box-sizing: border-box;
}

header,
section {
    overflow-x: hidden;
}

:root {
    --Snigle-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua-One", cursive;
    --Lobster: "Lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #24b8dd, #0e25f1);
    --light-gray: rgba(255, 255, 255, 0.877);
}

/* header */
header a {
    font-family: var(--Snigle-font);
    font-size: 1.5em;
    color: whitesmoke;
}

header {
    background: #dd2476;
    background: var(--bggradient);
}

header .nav-item:last-child {
    padding-right: 10.5em;
}

header .nav-item {
    padding: 0.9em;
}

header .navbar-brand {
    width: 50%;
    padding-left: 8rem;
    font-size: 1.8em;
}

.logo {
    width: 15%;
}

header .nav-link:hover {
    color: rgb(0, 59, 253);
}

header .row .col-md-5 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
}

header .row .col-md-7 {
    padding: 22vmin 1vmin;
    padding-bottom: 35vmin;
    font-family: var(--Lobster);
    color: white;
    font-size: 1.5em;
}

header .row .col-md-5 img {
    width: 90%;
}

header .container .col-md-7 h1 {
    font-size: 8.5vmin;
    font-weight: bold;
    padding: 0.1em 0em;
}

header .container .col-md-7 p {
    padding: 1vmin 5vmin;
}

header .container .col-md-7 button {
    border-radius: 30px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* header */


/* section 1 */
.cover {
    margin-top: 200px;
    width: 100%;
    height: 55vmin;
    background: url(../assets/banner.png);
    background-position: -24rem -19rem;
    background-size: 130%;
    position: relative;
}

.cover .content {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    padding-top: 19vmin;
}

.cover .content>h1 {
    font-family: var(--Patua);
    font-size: 6vmin;
    color: whitesmoke;
}

.cover .content>p {
    font-family: var(--Rubik);
    font-size: 2vmin;
    color: #e5e5e5;
}

.numbers .rect {
    position: relative;
    z-index: 1;
    background-color: white;
    width: 17rem;
    height: 12rem;
    padding-top: 3.5vmin;
    margin: 1rem;
    border-radius: .5em;
    box-shadow: 1px 2px 50px 0px rgba(255, 0, 0, 0.349);

}

.numbers {
    margin-top: -15vmin;
}

.numbers .rect h1 {
    font-size: 5rem;
    color: tomato;
}

.numbers .rect p {
    font-family: var(--Patua);

}

.link>h1 {
    padding-top: 15vmin;
    padding-bottom: 0.1em;
    font-family: var(--Lobster);
}

.link>p {
    color: var(--light-black);
    font-size: 3vmin;
    padding-bottom: 10vmin;
}

.link .cards .card {
    width: 22rem;
    margin: 3vmin;
}

.cards div {
    padding: 0;
    margin: 0;
}

.cards .title {
    background: rgba(208, 241, 241, 0.199);
    padding: 1.4rem 2.5rem;
    font-size: 2vmin;
}

.card .card-text {
    padding: 2.5rem 3rem;
    color: var(--light-black)''
}

.card-body .image {
    background: rgba(208, 241, 241, 0.199);
    border-top-right-radius: 170px;
    border-top-left-radius: 170px;
}

.card-body .image>h1 {
    font-size: 10vmin;
    padding: 1em 0.5em;
}

/* section 1 */


/* section 2 */
.section-2 {
    height: 70vmin;
    margin-top: 15vmin;
    background: var(--bggradient);
}

.section-2 .col-md-12>h1 {
    padding: 2em 0 0.5em 0;
    color: whitesmoke;
    font-size: 6vmin;
}

.section-2 .col-md-12>p {
    padding: 0 4em;
    padding-bottom: 2em;
    color: var(--light-gray);
    font-size: 3vmin;
}

.section-2 .desktop {
    background: white;
    display: inline-block;
    border-radius: 3em;
    padding: 2vmin 4.5vmin;
    margin: 1em;
}

.section-2 .desktop h3 {
    font-size: 4vmin;
}

.section-2 .desktop p {
    font-size: 2vmin;
}

/* section 2 */


/* section 3 */
.section-3 .container h1 {
    font-size: 6vmin;
    padding-top: 14vmin;
}

.section-3 .team {
    padding: 10vmin 4vmin;
}

.section-3 .card {
    width: 22rem;
    margin-top: 10vmin;
}

.section-3 .card .card-text {
    padding: 0.5em;
}

.section-3 .card .card-body>a {
    font-size: 1.5em;
}

.section-3 .carousel-item {
    padding-left: 3rem;
}

.border-radius {
    border-radius: 340px;
    width: 60%;
}

/* section 3 */


/* Footer */
footer {
    background: rgba(0, 0, 0, 0.815);
    overflow-x: hidden;
    padding: 14vmin 18vmin;
}

footer p>span {
    color: #ff512f;
}

footer .column i {
    color: #dd2476;
    padding: 0.5em;
}

footer .column i+i {
    padding: 0 0.5em;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 20px;
    /* Place the button at the bottom of the page */
    right: 30px;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: rgb(30, 255, 0);
    /* Set a background color */
    color: black;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 15px;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 18px;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    color: white;
    /* Add a dark-grey background on hover */
}

/* Footer */

/* Sticky Class */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.459);
    z-index: 9999;
    transition: all 1.5s ease;
}